/* Letterboxd Transparency */
html, body, nav, header, div:not(.backdrop-container):not(.backdrop-wrapper):not(.backdropimage):not(.backdropmask) {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Letterboxd Dark Mode */
:root {
  --background-color: transparent !important;
}

/* Hide Footer */
footer {
  display: none !important;
}

/* No Sticky Header */
header {
  position: relative !important;
}

/* Ensure Images are Visible */
img {
  display: block !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Ensure Backdrop Container and Child Elements are Visible */
div.backdrop-container, div.backdrop-wrapper, div.backdropimage, div.backdropmask {
  background: initial !important;
  border: initial !important;
  box-shadow: initial !important;
}

/* Ensure Backdrop Image is Visible */
div.backdropimage {
  background-position: center !important;
  background-image: initial !important;
}
