/* Letterboxd Transparency and Dark Mode */
html, body, nav, header, div:not(.backdrop-container):not(.backdrop-wrapper):not(.backdropimage):not(.backdropmask),
:root {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Hide Footer */
footer {
  display: none !important;
}

/* No Sticky Header */
header {
  position: relative !important;
}

/* Ensure Images and Backdrop Elements are Visible */
img, div.backdrop-container, div.backdrop-wrapper, div.backdropimage, div.backdropmask {
  display: block !important;
  background: initial !important;
  border: initial !important;
  box-shadow: initial !important;
}

/* Ensure Backdrop Image is Visible */
div.backdropimage {
  background-position: center !important;
  background-image: initial !important;
}
